@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap");
body .container .quiz-options .selected:hover {
  background-color: #527fff;
}

body {
  font-family: "poppins", sans-serif;
  min-height: 100vh;
  color: white !important;
  background: black !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .quiz-title {
  text-align: center;
  font-size: 2rem;
}
body .container .quiz-score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  font-weight: bold;
  color: #527fff;
  margin: 80px;
}
body .container .quiz-score #progress {
  transition: 0.5s;
  width: 50%;
  margin-left: 2%;
}
body .container .quiz-question {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}
body .container .quiz-options {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}
body .container .quiz-options .selected {
  border-radius: 0.5rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 1rem 1.2rem;
  cursor: pointer;
  border: 3px solid #527fff;
  box-shadow: 0 4px 10px 0 #527fff;
}
body .container .quiz-options .selected:active {
  transform: scale(0.97);
}
body .container .quiz-options .wrong {
  background-color: red;
}
body .container .quiz-options .correct {
  background-color: green;
}
body .container .quiz-foot button {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: #ec7211;
  color: white;
  letter-spacing: 2px;
  transition: all 300ms ease-in-out;
  box-shadow: 0 4px 0 0 #DB2929;
}
body .container .quiz-foot button font {
  family: "poppins", sans-serif;
  size: 1.2rem;
  weight: 600;
}
body .container .quiz-foot button:hover {
  transform: scale(0.96);
}
@media (max-width: 678px) {
  body .container {
    width: 90%;
  }
  body .container .wrapper {
    margin: 3rem 0;
    padding: 1.5rem 1rem 3rem 1rem;
  }
  body .container .wrapper .quiz-title {
    font-size: 1.6rem;
  }
  body .container .wrapper .quiz-options {
    font-size: 0.8rem;
  }
  body .container .wrapper .quiz-foot {
    font-size: 1rem;
  }
}
body .wrapper-stepper {
  position: fixed;
  top: 40%;
  left: 7%;
}
body .wrapper-stepper .steep {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 17rem;
}
body .wrapper-stepper .steep::before {
  content: "";
  height: 100%;
  width: 0.3rem;
  background-color: white;
  position: absolute;
  z-index: -1;
}
body .wrapper-stepper .steep .steps {
  height: 0;
  width: 0.5rem;
  position: absolute;
  z-index: -1;
  background-color: #527fff;
  transition: 0.4 ease-in;
}
body .wrapper-stepper .steep .circle {
  background-color: rgb(13, 13, 13);
  border: 3px solid #527fff;
  box-shadow: 0 4px 10px 0 #527fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}
body .wrapper-stepper .steep .active {
  background-color: #527fff;
  transition: 0.3s;
}
body #head {
  margin-bottom: 40px;
}
body .informtion {
  border: 3px solid #527fff;
  box-shadow: 0 4px 10px 0 #527fff;
  border-radius: 0.5rem;
  margin: 3rem 0;
  padding: 40px;
}
body .informtion li {
  margin-bottom: 40px;
}/*# sourceMappingURL=main.css.map */